*{
    background-color: black;
    
    font-family:monospace;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    /* background-color: burlywood; */
    font-size: 130%;
 }
 a h1:hover{
    color: aquamarine !important;
    }

.title .name{
    color: brown;
    margin: 0%;
}


.title .proj{
    color: crimson;
    position: absolute;
    top: 0px;
    left: 450px;
} 


.title .resume{
    color: crimson;
    position: absolute;
    top: 0px;
    left: 800px; 
}


.title #degree{
    font-family:monospace;
    color: burlywood;
}

.projects {
    color:brown;
    font-size: 40%;
}
.projects:hover{
    color: aquamarine;
}

.pic{
    vertical-align: middle;
}

